* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    /* background-color: black; */
}

.container {
    display: flex;
    width: 100%;
}
.sidebar svg{
    color: #747476;
}
.sidebar {
    width: 280px; 
    background-color: #000000f5;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    font-family: "Montserrat", serif;
}

.sidebar h1 {
    font-size: 54px;
    letter-spacing: -4.5px;
    margin-left: 10px;
    font-weight: 500;
}

.sidebar p {
    margin-top: 45px;
    color: #747476;
    letter-spacing: -1px;
    font-weight: 450;
    margin-left: 10px;
    
}

.sidebar ul {
    margin-top: 14px;
    list-style: none;
    width: 97%;
    margin-left: 1px;
}

.sidebar ul li {
    margin-top: 6.5px;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding-left: 10px;
    cursor: pointer;
}

li:hover {
    background-color: #212226;
}

li svg {
    height: 18px;
    width: 18px;
}

li span {
    margin-left: 15px;
    margin-bottom: 2px;
    font-size: 14px;
    letter-spacing: -0.5px;
    font-family: Montserrat;
    font-weight: 300;
}

#sidep2 {
    margin-top: 60px;
    color: #747476;
    letter-spacing: -0.5px;
    font-weight: 450;
    margin-left: 10px;
}

#sidelog {
    margin-top: 120px;
}

.content {
    margin-left: 280px; 
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
    font-family: Montserrat;
}
.rhead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
    margin-top: 12px;
    margin-left: 10px;
}
.rhead1{
    /* background-color: yellow; */
    
}
.rhead h1{
    font-size: 25px;
    letter-spacing: -1.2px;
}
.rhead1 p{
    margin-top: 2px;
    letter-spacing: -0.5px;
}
.rhead2{
    /* background-color: aqua; */
}
.rhead2 span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #15151B;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 30px;
}
.rhead2 span svg{
    width: 20px;
    height: 20px;
}
#portfolio_details{
    margin-top: 24px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
#portfolio_details div{
    height: 120px;
    width: 200px;
    background-color: #FEE8D1;
    border-radius: 18px;
    padding-left: 18px;
    padding-top: 22px;
}
#portfolio_details h1{
    font-family: "Montserrat", serif;
    font-size: 15px;
    font-weight: 400;
}
#portfolio_details p{
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 800;
    margin-top: 5px;
}
#portfolio_details #current{
    background-color: #EAF0FE;
}
#portfolio_details #pnl{
    background-color: #ECF5F4;
}
#pnl span{
    /* width: 40px; */
    width: fit-content;
    height: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: white;
    /* justify-content: center; */
    align-items: center;
    margin-top: 5px;
    color: #2CEBBE;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 21px;
}
#pnl span svg{
    height: 17px;
    width: 17px;
}
#pnl span p{
    font-size: 13px;
    margin-bottom: 7px;
}
.all{
    /* background-color: pink; */
    margin-top: 25px;
    margin-left: 10px;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
    column-gap: 10px;
}
.chart-container {
    /* width: 80vw; */
    /* width: 750px; */
    width: 60%;
    height: 300px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.news{
    /* width: 80vw; */
    width: 35%;
    /* max-width: 400px; */
    height: 300px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    flex-grow: 1;
}
.contri{
    width: 400px;
    height: 300px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.returns{
    width: 750px;
    height: 300px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.calendar{
    width: 400px;
    height: 300px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
@media (max-width : 1492px){
    .chart-container{
        width: 700px;
    }
    .news{
        width: 400px;
    }
}
@media (max-width : 1445px){
    .chart-container{
        width: 600px;
    }
    .news{
        /* max-width: auto; */
    }
}
@media (max-width : 1344px){
    
    .news{
        width: 350px;
    }
}
@media (max-width : 1290px){
    
    .news{
        width: 325px;
    }
}
@media (max-width : 1265px){
    .news{
        width: 300px;
    }
}
@media (max-width : 1240px){
    .chart-container{
        width: 550px;
    }
    .news{
        width: 300px;
    }
}
@media (max-width : 1190px){
    .chart-container{
        flex-grow: 1;
    }
    
}
@media (max-width:1043px){
    .contri{
        width: 300px;
    }
}
@media (max-width:939px){
    .news{
        width: 250px;
    }
}
@media (max-width:889px){
    .news{
        width: 250px;
    }
}
@media (max-width: 892px) {
    .sidebar {
        width: 200px;
    }
    .content {
        margin-left: 200px;
    }
}
/* @media (max-width : 812px){
    .news{
        max-width: 500px;
    }
} */
@media (max-width:812px){
    .chart-container{
       width: 100%;
    }
    .news{
        width: 45%;
     }
     .contri{
        width: 50%;
     }
     .returns{
        width: 100%;
     }
     .calendar{
        width: 100%;
     }
}
/* @media (max-width:744px){
    .chart-container{
        max-width: 450px;
    }
} */
/* @media (max-width: 600px) {
    .sidebar {
        width: 150px; 
    }
    .content {
        margin-left: 150px;
    }
} */
@media (max-width: 731px) {
    
    .news,.contri{
        width: 100%;
    }
}
@media (max-width: 691px) {
    .sidebar {
        position: absolute;
        width: 100%; 
        height: auto;
        text-align: center;
        padding: 10px;
        /* opacity: 0; */
        display: none;
    }
    .content {
        margin-left: 0;
        padding-top: 60px;
    }
    .news{
        width: 45%;
    }
    .contri{
        width: 50%;
    }
}
@media (max-width : 602px){
    .chart-container{
        width: 90vw;
    }
}
@media (max-width : 554px){
    .news{
        width: 100%;
    }
    .contri{
        width: 100%;
    }
    
}
@media (max-width : 500px){
    
    .rhead2{
        display: none;
    }
}
@media (max-width : 470px){
    #portfolio_details div{
        /* width: 150px; */
    }
    
}
@media (max-width: 360px) {
    .sidebar {
        font-size: 12px; 
    }
    .sidebar h1 {
        font-size: 30px; 
    }
    .sidebar ul li {
        height: 28px; 
    }
}